[submodule "android"]
	path = android
	url = git@github.com:immopoly/android.git
[submodule "appengine"]
	path = appengine
	url = git@github.com:immopoly/appengine.git
[submodule "common"]
	path = common
	url = git@github.com:immopoly/common.git
[submodule "iphone"]
	path = iphone
	url = git@github.com:immopoly/iphone.git
